h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 24px 0;
  color: rgb(226, 56, 5);
}

.bold-paragraph {
  color: #7400ef;
}

#bold {
  background-color: #a981c1;
  color: rgb(255, 255, 255);
}

img {
  width: 100%;
}
