h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 24px 0;
  color: rgb(241, 84, 188);
}

.bold-paragraph {
  color: #e90000;
}

#bold {
  background-color: #ffb3b3;
  color: rgb(255, 255, 255);
}

img {
  width: 80%;
}
