h1 {
  font-family: Poppins;
  margin: 24px 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.bold-paragraph {
  color: #000000;
  font-family: Poppins;
  text-align: center;
}

#bold {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

img {
  display: inline-block;
}

button {
  text-align: center;
  font-family: Poppins;
  font-style: italic;
  color: black;
  padding: 10px 20px;
  border-radius: 6px;
  width: 100px;
  height: 50px;
  font-size: 12px;
  margin: 1px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: blueviolet;
}

#message {
  display: none;
  margin-top: 15px;
  padding: 10px;
  background: rgb(255, 255, 255);
  width: 200px;
}
